*{
  margin:9vmin;
  font-size:9vmin;
  color: rgb(3, 90, 90);
  border-radius: 18vmin;
  border:none;
  background-color: transparent;
  transition: 0.45s;
}

button:hover{
  transform: scale(1.1);
  cursor: pointer;
  text-decoration: underline  ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr{
  background-color: #0ff;
  border-radius: 20vmin;
  border:none;
  height: 0.36vmin;
}
